@mixin container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title($font-size, $line-height, $color) {
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 700;
  color: $color;
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin text($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
