$white: #ffffff;
$black: #111111;
$grey: #4c4c4c;
$purple: #8a145b;
$montserrat: "Montserrat", "Arial", sans-serif;
$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
